/* Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #d0d5dd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aab0be;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d0d5dd transparent;
}

body {
  overflow-x: hidden;
}
